@{
    Layout = "~/SharedWebComponents/_CustomLayout.cshtml";
}

<div class="container" style="background-color: lightgreen">
    <h1>This is a sub-layout for _CustomLayout</h1>
    <br />
    <br/>
    <div style="padding: 20px">
        @RenderBody()
    </div>
</div>