@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color: lightgoldenrodyellow">
    <h2>Hi, I'm a view that uses a layout defined in a web project and a partial defined in a shared component project.</h2>
</div>

@Html.Action("Index")